# ignore
extracting_data.R
r-code_grid1vsgrid100.pdf
skript.R
.Rapp.history
.Rhistory
.Rdata
.zip
RichnessRegression/AET/
RichnessRegression/HumanPop/
RichnessRegression/mean_esriasciiNDVI/
RichnessRegression/TERRESTRIAL _MAMMALS/